
.navbar {
    background-color: #40c00d;
    padding: 1px;
    text-decoration: none;
}

.navdiv{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: auto;
    font-size: 25px;
    text-decoration: none;
    color: black;

}

.navdiv{
	display: flex;
}

.listItem{
	color:rgb(12, 12, 12);
}

.listItem:hover{
	font-size: 26px;
    font-weight: bolder;
}

.logo{
    font-size: 26px;
    font-weight: bolder;
    color: rgb(241, 231, 231)
}

.imglo{
    width: 30px;
    height: 31px
}

.imgLogo{
    display: flex;
    align-items: center
}