.homecont{
	display: flex;
	flex-direction: column;
}
.imgl{
	width: 100px;
	height: 110px

}
.home{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.padre{
	display: flex;
	justify-content: center;
}
.filts{
	display: flex;
	justify-content: center;
	flex-direction: row;
	background-color: #04ca14;
	width: fit-content;
    padding: 20px;
}

.titulo{
	display: flex;
	justify-content: center;
	font-size: 50px
}

.cnttitulo{
	display: flex;
	justify-content: center;
	align-items: center
}
.desc{
	display: flex;
	justify-content: center
}